{% extends 'base.html' %}

{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

    :root {
        --color-gold: #a0884c;
        --color-black: #000;
        --color-white: #FFF;
        --color-gray: #8D8D8D;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
        overflow-x: hidden;
        scroll-behavior: smooth;
        transition: 0.5s;
    }

    .blur {
        z-index: -999;
        position: absolute;
        position: fixed;
        opacity: 75%;
    }

    #btn-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 1;
        border: none;
        outline: none;
        background-color: var(--color-black);
        color: var(--color-white);
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        transition: 0.5s;
    }

    #btn-top i {
        font-size: 30px;
    }

    i {
        font-size: 40px;
    }

    .navul a {
        color: var(--color-white);
    }

    .navul a:visited {
        color: var(--color-white);
    }

    .navbar {
        color: var(--color-white);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        padding: 10px 30px;
        flex-wrap: wrap;
        position: absolute;
        background-color: var(--color-gold);
    }

    .navbar a {
        color: var(--color-white);
        text-decoration: none;
    }

    .navbar h1 {
        font-weight: 500;
    }

    .navbar a:visited {
        color: var(--color-white);
    }

    .navbar ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar ul li {
        position: relative;
        list-style: none;
    }

    .navbar ul li a {
        position: relative;
        margin: 0 5px;
        text-decoration: none;
    }

    .content {
        margin: 100px 20px 0px 20px;
        color: var(--color-white);
    }

    .content h5 {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .content .inputs {
        background-color: var(--color-white);
        border: 1px solid var(--color-black);
        width: 400px;
        height: 50px;
        color: var(--color-black);
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
    }

    .content .margins {
        margin-left: 5px;
    }

    .cart-row {
        display: flex;
        align-items: flex-stretch;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ececec;

    }

    .product {
        border-radius: 0 0 4px 4px;
    }

    .box-element {
        box-shadow: hsl(0, 0%, 80%) 0 0 16px;
        background-color: var(--color-gold);
        border-radius: 4px;
        padding: 10px;
    }

    .quantity {
        display: inline-block;
        font-weight: 700;
        padding-right: 10px;
    }

    .chg-quantity {
        width: 12px;
        cursor: pointer;
        display: block;
        margin-top: 5px;
        transition: .1s;
    }

    .chg-quantity:hover {
        opacity: .6;
    }

    .space {
        display: flex;
        justify-content: space-between;
    }

    .space-btn {
        background-color: var(--color-white);
        padding: 5px;
    }

    .space-btn a {
        color: var(--color-black);
        cursor: pointer;
        font-size: 1.2rem;

    }

    .shop-btn {
        padding-bottom: 10px;
        padding: 10px;
        background-color: var(--color-white);
        width: 200px;
    }

    .shop-btn a {
        color: var(--color-black);
        text-decoration: none;
    }

    .row-image {
        width: 100px;
    }

    footer div {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--color-gold);
        padding: 30px;
        color: var(--color-white);
        font-size: 14px;
    }

    footer div {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--color-gold);
        padding: 30px;
        color: var(--color-white);
        font-size: 14px;
    }

    footer p {
        margin-left: 150px;
    }

    @media screen and (max-width: 768px) {
        .content {
            margin: 100px 0px 0px 20px;
            color: var(--color-white);
        }

        .content h1 {
            font-weight: 600;
            font-size: 2rem;
        }

        .content .inputs {
            background-color: var(--color-white);
            border: 1px solid var(--color-black);
            width: 300px;
            height: 50px;
            color: var(--color-black);
            font-size: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            padding: 10px;
            margin-top: 10px;
        }

        .content .margins {
            margin-left: 5px;
        }

        i {
            font-size: 35px;
        }

        #btn-top {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 1;
            border: none;
            outline: none;
            background-color: var(--color-white);
            color: var(--color-black);
            cursor: pointer;
            padding: 10px;
            border-radius: 50%;
            transition: 0.5s;
        }

        #btn-top i {
            font-size: 20px;
        }

        footer {
            padding: 10px;
            color: var(--color-white);
            font-size: 12px;
        }

        footer p {
            margin-left: 0px;
            text-align: center;
        }
    }
</style>
{% endblock style %}

{% block nav %}
<div class="navbar">
    <h1><a href="{% url 'Store:index' %}">Website Logo</a></h1>
    <ul class="navul" id="navul">
        <li><a href="{% url 'Store:cart' %}"><i class="ri-shopping-cart-line"></i></a></li>
        <!-- <p id="cart-total">0</p> -->
        <li><a href="{% url 'Store:account' %}"><i class="ri-account-circle-fill"></i></a></li>
    </ul>
</div>
{% endblock nav %}

{% block content %}
<div class="blur">
    {% load static %}
    <img src="{% static 'Store/gold-blur.png' %}" alt="image">
</div>

<div class="content">
    <div class="row">
        <div class="box-element">
            <div class="shop-btn">
                <a href="{% url 'Store:index' %}}">&#x2190; Continue Shopping</a>
            </div>
            <br>
            <hr>
            <br>
            <div class="space">
                <div>
                    <h5>Produkty: <strong>2</strong></h5>
                </div>
                <div>
                    <h5>Razem:<strong> 4200 PLN</strong></h5>
                </div>
                <div class="space-btn"><a href="{% url 'Store:checkout' %}}">Checkout</a></div>
            </div>
        </div>

        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Produkt</strong></div>
                <div style="flex:1"><strong>Cena</strong></div>
                <div style="flex:1"><strong>Ilość</strong></div>
                <div style="flex:1"><strong>Razem</strong></div>
            </div>

            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'Store/gold-table2.jpg' %}"></div>
                <div style="flex:2">
                    <p>Product 1</p>
                </div>
                <div style="flex:1">
                    <p>2000 PLN</p>
                </div>
                <div style="flex:1">
                    <p class="quantity">2</p>
                    <div class="quantity">
                        <img class="chg-quantity" src="{% static 'Store/arrow_up2.png' %}"">

                        <img class=" chg-quantity" src="{% static 'Store/arrow_down2.png' %}"">
                    </div>
                </div>
                <div style=" flex:1">
                        <p>4000 PLN</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {% endblock content %}

    {% block footer %}
    <footer>
        <div>
            <p>© 2021 Nazwa firmy Wszelkie prawa zastrzeżone</p>
        </div>
    </footer>
    {% endblock footer %}