{% extends 'base.html' %}


{% block title %}
(Nazwa firmy)
{% endblock title %}


{% block style %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');

    :root {
        --color-gold: #DFBD69;
        --color-black: #000;
        --color-white: #FFF;
        --color-gray: #8D8D8D;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }

    i {
        font-size: 45px;
    }

    .navbar {
        color: var(--color-black);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.5s;
        padding: 10px 30px;
        flex-wrap: wrap;
    }

    .navbar ul {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar ul li {
        position: relative;
        list-style: none;
    }

    .navbar ul li a {
        position: relative;
        margin: 0 5px;
        text-decoration: none;
    }

    .container {
        display: flex;
    }

    .left {
        width: 50%;
    }

    .left .text {
        width: 750px;
        margin: 100px;
    }

    .left h1 {
        font-weight: bold;
        font-size: 64px;
        margin-bottom: 50px;
    }

    .left p {
        font-size: 36px;
        color: var(--color-gray);
    }

    .left button {
        margin-top: 50px;
        background-color: var(--color-black);
        color: var(--color-white);
        outline: 0;
        border: none;
        width: 250px;
        height: 65px;
    }

    .left button a {
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
    }

    .right {
        width: 50%;
    }

    .right img {
        margin-left: 100px;
        margin-top: 100px;
        width: 57%;
    }

    .socials {
        display: flex;
        justify-content: center;
        margin-top: 130px;
    }

    .socials i {
        padding: 5px;
        color: var(--color-gold);
    }

    .left img {
        width: 90%;
    }

    .right .text-2 {
        width: 654px;
        margin-top: 200px;
        margin-left: 100px;
    }

    .right h1 {
        font-weight: bold;
        font-size: 64px;
        margin-bottom: 50px;
    }

    .right p {
        font-size: 36px;
        color: var(--color-gray);
    }

    .right button {
        margin-top: 50px;
        background-color: var(--color-black);
        color: var(--color-white);
        outline: 0;
        border: none;
        width: 250px;
        height: 65px;
    }

    .right button a {
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
    }

    .left-2 {
        width: 50%;
    }

    .left-2 h1 {
        font-weight: bold;
        font-size: 64px;
        margin-bottom: 50px;
        color: var(--color-gold);
    }

    .left-2 p {
        font-size: 36px;
        color: var(--color-gray);
    }

    .left-2 button {
        margin-top: 50px;
        background-color: var(--color-gold);
        color: var(--color-white);
        outline: 0;
        border: none;
        width: 250px;
        height: 65px;
    }

    .left-2 button a {
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
    }

    .left-2 .text-2 {
        width: 654px;
        margin-top: 200px;
        margin-left: 100px;
    }

    .right-2 {
        width: 50%;
    }

    .right-2 img {
        width: 90%;
    }
</style>
{% endblock style %}


{% block nav %}
<div class="navbar">
    <h1>Website Logo</h1>
    <ul class="navul" id="navul">
        <li><a><i class="ri-shopping-cart-line"></i></a></li>
        <li><a><i class="ri-account-circle-fill"></i></a></li>
    </ul>
</div>
{% endblock nav %}


{% block content %}
<div class="container">
    <div class="left">
        <div class="text">
            <h1>Lorem Ipsum</h1>
            <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
                IpsumLorem Ipsum</p>
            <button><a>Zobacz Ofertę</a></button>
        </div>
    </div>
    <div class="right">
        {% load static %}
        <img src="{% static 'Store/gold-table.jpg' %}" alt="image">
    </div>
</div>
<div class="socials">
    <i class="ri-facebook-fill"></i>
    <i class="ri-instagram-fill"></i>
    <i class="ri-twitter-fill"></i>
</div>
<div class="container">
    <div class="left">
        {% load static %}
        <img src="{% static 'Store/gray-table-blur.png' %}" alt="image">
    </div>
    <div class="right">
        <div class="text-2">
            <h1>Lorem Ipsum</h1>
            <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
                IpsumLorem Ipsum</p>
            <button><a>Dodaj do koszyka</a></button>
        </div>
    </div>
</div>
<div class="container">
    <div class="left-2">
        <div class="text-2">
            <h1>Lorem Ipsum</h1>
            <p>Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem
                IpsumLorem Ipsum</p>
            <button><a>Dodaj do koszyka</a></button>
        </div>
    </div>
    <div class="right-2">
        {% load static %}
        <img src="{% static 'Store/gold-table-blur.png' %}" alt="image">
    </div>
</div>
{% endblock content %}


{% block footer %}

{% endblock footer %}

{% block script %}
<script>
</script>
{% endblock script %}