{% extends 'base.html' %}



{% block content %}

<div class="content">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-div">
            <div>
                <h2><label for="username">Username</label></h2>
                <p><input type="text" name="username" id="username"></p>
            </div>
            <div>
                <h2><label for="username">Password</label></h2>
                <p><input type="password" name="password" id="password"></p>
            </div>
            <div>
                <p><button type="submit">Login</button></p>
            </div>
            <div>
                
                {% for message in messages %}
                    <p id=messages>{{message}}</p>
                {% endfor %}
                    
            </div>
            <div>
                <p>Don't have an account yet? <a href="{% url 'Store:register' %}">Sign Up</a></p>
            </div>
        </div>
    </form>
</div>
{% endblock content %}